<div role="button" class="default-context-menu-overlay" style={{this.overlayStyles}} {{on "click" this.closeDropdown}}></div>
<BsDropdown style={{this.styles}} ...attributes @onHide={{@onCloseMenu}} as |dd|>
  <span {{did-insert (fn this.storeDropdownApi dd)}}></span>
  {{yield dd this.menuItemClicked}}
</BsDropdown>